body{
	overflow-x: hidden;
	overflow-y: hidden;
}

/* 外壳滑动容器 start */
.outer-roll{
	width: 100vw;
	height: 100vh;
	overflow: auto;
	overflow-x: hidden;
	background: url("../images/header-1.jpg") no-repeat center top;
}
.outer-roll::-webkit-scrollbar{
	width: 4px;
}
.outer-roll::-webkit-scrollbar-thumb{
	background-color: rgba(0, 0, 0, .5);
	border-radius: 2px;
}
.outer-roll::-webkit-scrollbar-track{
	width: 15px;
	background-color: rgba(0, 0, 0, .2);
}
/* 外壳滑动容器 end */

.hide-text{
    font-size: 0;
    text-indent: -9999;
    overflow: hidden;
    opacity: 0;
}