/* 字体样式 */

/* 特太行书 */
@font-face {
	font-family: TetaiXS;
	src: url(../fonts/tetai-2.ttf);
}
/* 三极魏碑简 */
@font-face{
	font-family: Sanji;
	src: url(../fonts/SanJiWeiBeiJianTi.ttf)
}
/* 猫啃什锦黑体 */
@font-face {
	font-family: Maoken;
	src: url(../fonts/MaoKen.ttf);
}