/* reset */
html,body,div,p,ul,li,dl,dt,dd,em,i,span,a,img,input,h1,h2,h3,h4,h5 {margin:0;padding:0}
a,img,input {border:none;}
body{font: 14px/1.75  -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;-webkit-tap-highlight-color: rgba(0,0,0,0);}
a {text-decoration:none;}
ul,li{list-style: none}
a, img {-webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单，根据需要选择是否删除 */}
html, body {
    -webkit-user-select: none;   /* 禁止选中文本（如无文本选中需求，此为必选项） */
    user-select: none;
    width: 100%;
    height: 100%;
    padding-top:0 !important;
}
/* reset end */

.wrap{
    position: relative;
    width: 750px;
}
.wrap *{
    box-sizing: border-box;
}

/* .wrap::before{
    content: "移动端适配中......";
    position: fixed;
    top: 50%;
    width: 100%;
    font-size: 32px;
    font-family: 'Pixel';
    transform: translateY(-50%);
    text-align: center;
    color: var(--cafe_text2);
    text-shadow: 2px 2px 2px rgba(0,0,0,.3);
}
.section div{
    display: none;
} */

/* part1 */
.part1{
    position: relative;
    width: 100%;
    background: url(../images/background/part1_bg.jpg) center top no-repeat;
    /* background-size: 750px 100%; */
    background-size: cover;
}
.part1-cont{
    position: relative;
    width: 100%;
    height: 820px;
}
.part1-cont .title{
    font-family: "Pixel";
    font-size: 120px;
    line-height: 120px;
    text-align: center;
    color: var(--cafe_text2);
}
.part1-cont .sub-title{
    margin-top: 20px;
    font-family: "Pixel";
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: var(--cafe_text2);
    text-shadow: 2px 2px 3px rgba(0,0,0,.5);
}
.part1-cont .kv-cent{
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 20px 15px;
    width: 600px;
    margin-left: -300px;
    border-radius: 10px;
    background-color: rgba(255,255,255,.7);
}
.part1-cont .kv-cent p:nth-of-type(1){
    font-size: 20px;
    text-indent: 2em;
}
.part1-cont .kv-cent p:nth-of-type(2){
    font-size: 16px;
    text-align: right;
}

/* part2 */
.part2{
    position: relative;
    width: 100%;
    background: url(../images/background/part2_bg.png) center top no-repeat;
    background-size: cover;
}

/* part3 */
.part3{
    position: relative;
    width: 100%;
    background: url(../images/background/part3_bg.jpg) center top no-repeat;
    background-size: cover;
}

/* part4 */
.part4{
    position: relative;
    width: 100%;
    background: url(../images/background/part4_bg.jpg) center top no-repeat;
    background-size: cover;
}

/* part5 */
.part5{
    position: relative;
    width: 100%;
    background: url(../images/background/part5_bef.jpg) center top no-repeat;
    background-size: cover;
}