.wrap{
    max-width: 1920px;
    margin: 0 auto;
}
.wrap *{
    box-sizing: border-box;
}

/* 主体区域 start */
.content{
    position: relative;
}
.section{
    position: relative;
    font: 20px "Microsoft Yahei"; 
    color: var(--cafe_text2);
}


/* part1 */
.part1{
    width: 100%;
    background: url(../images/background/bg1.jpg) center center no-repeat;
    background-size: cover;
}
/* part2 */
.part2{
    width: 100%;
    background: url(../images/background/bg2.jpg) center center no-repeat;
    background-size: cover;
}

.part2-cont{
    position: relative;
    display: flex;
    padding: 30px 50px;
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 5px;
    box-shadow: 4px 4px 10px 3px rgba(0,0,0,.5);
}
.part2-title{
    position: absolute;
    right: 30px;
    font-size: 108px;
    background-image:-webkit-linear-gradient(left, rgba(139, 69, 19,.7) 10%,rgba(78, 57, 0,0));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    pointer-events:none;
    transform:scaleX(-1);
}
.part2-left{
    padding: 30px 10px 10px;
    width: 35%;
    height: 100%;
}
.part2-right{
    padding: 320px 15px 10px;
    width: 65%;
    height: 100%;
}
.head-cover{
    margin-bottom: 15px;
    width: 150px;
    height: 135px;
    background: url(../images/cover.jpg) no-repeat;
    background-size: cover;
    border: 3px solid var(--cafe_text1) ;
    border-radius: 10px;
}
.sev-thirty-box{
    display: flex;
    margin-bottom: 15px;
}
.sev-thirty-box div:first-of-type{
    width: 30%;
    font-weight: 800;
}
.sev-thirty-box div:last-of-type{
    padding-left: 20px;
    width: 70%;
}
.nickname{
    margin-bottom: 105px;
}

/* part3 */
.part3{
    width: 100%;
    background: no-repeat center / contain;
    background-image: #000;
    background-size: cover;
    text-align: center;
}
.part3-cont{
    position: relative;
    padding-top: 100px;
    margin: 0 auto;
    width: 1000px;
    height: 660px;
    background-color: rgba(255, 255, 255, .08);
    border-radius: 5px;
    box-shadow: 4px 4px 10px 3px rgba(255,255,255,.3);
}
.part3-title{
    position: absolute;
    top: -60px;
    left: -40px;
    font-size: 78px;
    background-image:-webkit-linear-gradient(left, rgba(255, 255, 255,.85) 10%,rgba(255, 255, 255,0));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    pointer-events:none;
}
.part3-list{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 800px;
}
.part3-item{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 55px;
}
.part3-item .tips{
    padding: 0 10px;
    min-width: 100px;
    height: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    border-radius: 12.5px;
    background-color: #ffffff;
    z-index: 10;
    text-align: center;
}
.part3-item .progress-outer{
    margin-left: 5px;
    position: relative;
    width: 100%;
    height: 16px;
    border-radius: 8px;
    background-color: rgba(255,255,255,.3);
    z-index: 1;
}
.part3-item .progress-inner{
    position: absolute;
    left: 2px;
    top: 2px;
    width: 50%;
    height: 12px;
    border-radius: 7.5px;
    background-color: var(--cafe_text2);
    z-index: 5;
}
.part3-item .tags{
    position: absolute;
    bottom: -18px;
    padding-left: 120px;
    font-size: 12px;
    line-height: 16px;
    filter: grayscale(1);
}
.part3-btn{
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}
/* part3 end */

/* part4 start */
.part4{
    width: 100%;
    background: url(../images/background/bg4.png) center center no-repeat;
    background-size: cover;
}
.part4-cont{
    padding-top: 50px;
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    /* border: 1px solid #ffffff; */
}
.p4swiper{
    width: 1000px;
    height: 500px;
    overflow: hidden;
}
.p4swiper .swiper-slide{
    height: 500px;
}
.story-box{
    padding: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .9);
    -webkit-clip-path: polygon(0 0, 90% 10%, 100% 100%, 10% 90%);
    clip-path: polygon(0 0, 90% 10%, 100% 100%, 10% 90%);
    text-align: center;
    user-select: none;
}
.story-box h3{
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 40px;
    writing-mode: vertical-rl;
    transform: skew(4deg);
    z-index: 20;
    color: #ffffff;
    -webkit-text-stroke:1px #000;
    text-stroke:1px #000;
}
.story-box img{
    width:100%;
    height: 100%;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 90% 10%, 100% 100%, 10% 90%);
    clip-path: polygon(0 0, 90% 10%, 100% 100%, 10% 90%);
}
/* part4 end */

.part5{
    width: 100%;
    background: url(../images/background/bg5.png) center center no-repeat;
    background-size: cover;
}
.part6{
    width: 100%;
    background: url(../images/background/bg6.jpg) center center no-repeat;
    background-size: cover;
}
.part7{
    width: 100%;
    background: url(../images/background/bg7.jpg) center center no-repeat;
    background-size: cover;
}
/* 主体区域 end */