/* ========================= RESET ========================= */
body,
dl,
dd,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
header,
section,
article,
footer {
    margin: 0
}

body,
button,
input,
select,
textarea {
    font: 16px tahoma, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%
}

em,
b {
    font-style: normal
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: none !important
}

img {
    border: 0
}

button,
input,
select,
textarea {
    font-size: 100%;
    outline: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th,
ul,
ol {
    padding: 0
}

body {
    background-color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: hidden
}

/* ========================= RESET ========================= */

/* ========================= COMMON ========================= */
.wrap *,
.wrap *::after,
.wrap *::before {
    box-sizing: border-box;
}

.wrap {
    max-width: 1920px;
    margin: 0 auto;
    background-color: var(--white-color1);
}

/* ========================= COMMON ========================= */

/* ========================= BODY ========================= */
.page-number {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: var(--white-color2);
}

.part-outer {
    margin: 0 auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 100%;
    border-left: 2px solid var(--white-color2);
    border-right: 2px solid var(--white-color2);
}

.part-inner {
    position: relative;
    width: 1000px;
    height: 640px;
    /*background-color: var(--white-color2);*/
}

.part1 .part-inner {
    padding: 0 20px;
    user-select: none;
}

.part1-title {
    font-family: var(--font1);
    font-size: 98px;
    line-height: 98px;
    width: 100%;
    color: var(--black-color1);
}

.part1-line {
    margin: 10px 0 50px;
    width: 90%;
    height: 4px;
    background-color: var(--black-color1);
}

.part1-desc {
    padding-left: 10px;
    border-left: 2px solid #000000;
    font-family: var(--font2);
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.part1-small-text {
    margin-left: -20px;
    padding: 12px 20px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 42px;
    font-family: var(--font2);
    font-size: 18px;
    line-height: 18px;
    background-color: var(--white-color2);
}

.part2 .part-inner {
    display: flex;
}

.part2 .part2-line {
    width: 1px;
    height: 640px;
    border: 1px solid var(--white-color2);
}

.part2 .part2-left {
    position: relative;
    width: 300px;
}

.part2 .user-cover {
    margin-left: 20px;
    margin-bottom: 100px;
    display: flex;
    align-items: flex-end;
    width: 80%;
    height: 140px;
    background-color: var(--white-color1);
    border-bottom: 2px solid var(--black-color1);
    user-select: none;
    overflow: hidden;
}

.part2 .user-cover img {
    position: relative;
    /*top: 140px;*/
}

.part2 .user-info {
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 80%;
}

.part2 .user-item {
    margin-top: 20px;
    display: flex;
    width: auto;
    font-weight: 800;
    font-size: 20px;
    font-family: var(--font2);
    color: var(--cafe_color2);
}

.part2 .user-item span {
    display: block;
    width: 50%;
    color: var(--black-color1);
}

.part2 .part2-right {
    position: relative;
    padding: 140px 30px 0;
    width: 698px;
}

.part2 .detail-item {
    width: 638px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 32px;
    color: var(--cafe_color1);
    border-bottom: 1px solid var(--black-color1);
    cursor: default;
    user-select: none;
}

.part2 .detail-item .text-key {
    display: inline-block;
    width: 102px;
    text-align: justify;
    text-align-last: justify;
    color: var(--black-color1);
    /*border-bottom: 1px solid var(--black-color1);*/
}

.part2 .detail-item .text-value {
    padding: 0 10px;
    cursor: pointer;
}

.part2 .detail-item .center-mask {
    position: relative;
    flex: 1;
}

.part2 .detail-item .center-mask:before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed var(--white-color1);
}

.part2 .self-intro {
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 638px;
    text-indent: 2em;
    font-size: 18px;
    line-height: 24px;
    background-color: var(--white-color2);
}

.part3 .part3-title-model {
    position: relative;
    letter-spacing: 4px;
    text-indent: 8px;
}
.part3 .part3-title {
    padding: 0 10px;
    position: relative;
    background-color: #fff;
    z-index: 10;
}
.part3 .part3-title-line {
    position: absolute;
    top: 16px;
    width: 100%;
    height: 2px;
    background-color: #000;
}
.part3 .part3-swiper {
    margin: 80px auto 0;
    width: 800px;
    height: 400px;
}
.part3 .part3-swiper .swiper-slide {
    width: 520px;
    height: 100%;
    background-color: #ddd;
    border-radius: 5px;
}

/* ========================= BODY ========================= */